.ccf-rank {
    display: inline-block;
    height: 18.35px;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
    border-radius: 9px;
    padding: 1px 8px;
    margin-left: 5px;
    margin-right: 5px;
}

.ccf-waiting_surr {
  display: inline-block;
  height: 20px;
  width: 20px;
  padding-top: 8px;
  padding-left: 8px;
}

.ccf-waiting {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin: 0px;
  
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #34ce57;
  border-right: 2px solid #ffc107;
  border-bottom: 2px solid #ff8800;
  border-left: 2px solid #dc3545;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.ccf-a {
    background-color: #34ce57;
}

.ccf-i {
    background-color: #34ce57;
}

.ccf-Aplus {
    background-color: #28a745;
}

.ccf-b {
    background-color: #ffc107;
}

.ccf-ii {
    background-color: #ffc107;
}

.ccf-c {
    background-color: #ff8800;
}

.ccf-iii {
    background-color: #ff8800;
}

.ccf-d {
    background-color: #dc3545;
}

.ccf-q1 {
    background-color: #34ce57;
}

.ccf-q2 {
    background-color: #ffc107;
}

.ccf-q3 {
    background-color: #ff8800;
}

.ccf-q4 {
    background-color: #dc3545;
}

.ccf-none {
    background-color: #a9a9a9;
}

.ccf-tooltip {
    display: inline-block;
    position: relative;
}

.ccf-tooltip .ccf-tooltiptext {
    visibility: hidden;
    background-color: #007bff;
    border-radius: 6px;
    padding: 5px 5px;
    bottom: 100%;
    left: 50%;
    position: absolute;
    z-index: 980624;
    margin-left: -60px;
}

.ccf-tooltip:hover .ccf-tooltiptext {
    visibility: visible;
}
